@import '/public/styles/scss/config/vars.scss';
@import '/public/styles/scss/config/functions.scss';

.cart {
  padding: 40px;
}

.title {
  font-size: 30px;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
  width: 100%;
  height: 100%;

  &_text {
    margin-bottom: 50px;
    font-size: 50px;
    color: #2e2e2e;
    text-shadow: 0 -1.3px 0 #000000;
    -webkit-background-clip: text;
    font-weight: 700;
  }
}

.at_home {
  font-size: 16px;
}

.total {

}

.total_wrap {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 700px;
  font-size: 30px;
}

.between {
  margin: 0 10px;
  width: 100%;
  height: 33px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.28);
}

.sum {
  white-space: nowrap;
}

.form {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 30px;
  background-color: darken($firstAccentColor, 2%);
  border-radius: 20px;
  column-gap: 3.5rem;
}

.wrap {
  width: 50%;
}

.label {
  font-size: 25px;
}

.input {
  font-size: 20px;
}

.stock {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 40px;
}

.error {
  position: absolute;
  right: 5px;
  bottom: 0;
  font-weight: 300;
  font-size: 13px;
  color: red;
}

.spinnerBack {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  overflow: auto;
  z-index: 1000;
}
