@import '/public/styles/scss/config/vars.scss';
@import '/public/styles/scss/config/functions.scss';
@import '/public/styles/scss/config/mixins.scss';

.cart {
  padding: 40px;

  @include media(1060) {
    padding: 25px 0;
  }

  @include media(700) {
    padding: 25px 0 0;
  }
}

.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.49);
  backdrop-filter: blur(10px);
  z-index: 1000;

  &_body {
    position: relative;
    width: 450px;
    padding: 20px;
    background-color: $blackColor;
    border-radius: 10px;
  }

  &_close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &_title {
    display: flex;
    justify-content: center;
    font-size: 40px;

    @include media(485) {
      font-size: 35px;
    }
  }

  &_svg {
    display: flex;
    justify-content: center;
  }

  &_heart {
    margin-left: 10px;
    color: red;
    font-size: 40px;
    line-height: 35px;
  }

  &_text {
    display: flex;
    justify-content: center;
    font-size: 20px;

    @include media(485) {
      font-size: 15px;
    }
  }
}

.title {
  font-size: 30px;
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
  width: 100%;
  height: 100%;

  &_text {
    margin-bottom: 50px;
    font-size: 50px;
    color: #2e2e2e;
    text-shadow: 0 -1.3px 0 #000000;
    -webkit-background-clip: text;
    font-weight: 700;

    @include media(530) {
      font-size: 40px;
    }

    @include media(400) {
      font-size: 30px;
    }
  }
}

.at_home {
  font-size: 16px;
}

.total {

}

.total_wrap {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 700px;
  font-size: 30px;

  @include media(800) {
    width: 100%;
  }

  @include media(450) {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.between {
  margin: 0 10px;
  width: 100%;
  height: 33px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.28);

  @include media(450) {
    height: 23px;
  }
}

.sum {
  white-space: nowrap;
}

.form {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 30px;
  background-color: darken($firstAccentColor, 2%);
  border-radius: 20px;
  column-gap: 3.5rem;

  @include media(930) {
    flex-direction: column-reverse;
  }
}

.wrap {
  width: 50%;

  @include media(930) {
    width: 100%;
  }
}

.label {
  font-size: 25px;

   @include media(670) {
     font-size: 20px;
  }
}

.input {
  font-size: 20px;

   @include media(670) {
     font-size: 16px;
  }
}

.stock {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 40px;

  @include media(930) {
    margin-bottom: 50px;
    width: 100%;
  }

  @include media(670) {
    margin-bottom: 20px;
    font-size: 30px;
  }
}

.send_btn {
  @include media(670) {
    width: 100%;
  }
}

.notes {
  font-size: 14px;

  & > li {
    color: #7c7c7c;

    &:before {
      content: "–"; /* en dash */
      position: absolute;
      margin-left: -1.1em;
    }
  }
}

.error {
  position: absolute;
  right: 5px;
  bottom: 0;
  font-weight: 300;
  font-size: 13px;
  color: red;
}

.spinnerBack {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  overflow: auto;
  z-index: 1000;
}
