@import 'public/styles/scss/config/functions.scss';
@import 'public/styles/scss/config/mixins.scss';

.section {
  padding: 40px 0;

  &:hover {
    .img {
      filter: grayscale(0);
    }
  }
}

.wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  column-gap: rem(30);

  @include media(850) {
    flex-direction: column;
  }
}

.left {
  flex-basis: 40%;

  @include media(850) {
    margin-bottom: 30px;
  }
}

.right {
  flex-basis: 60%;
}

.title {
  margin-bottom: 30px;
  line-height: 1.1;
  font-size: 48px;
}

.text {
  line-height: 2.2;
}

.img {
  border-radius: 30px;
  filter: grayscale(100%);
  transition: filter 0.5s cubic-bezier(.5, 0, .5, 3);

  @include media(850) {
    animation: pulse 3s linear infinite;
  }
}

@keyframes pulse {
  0% {
    filter: grayscale(100%);
  }
  25% {
    filter: grayscale(50%);
  }
  50% {
    filter: grayscale(0%);
  }
  75% {
    filter: grayscale(50%);
  }
  100% {
    filter: grayscale(100%);
  }
}
